/*
  Theme: Dark
*/

:scope.theme-dark {
  background-color: rgba(36, 45, 51, 0.9);
}

:scope.theme-dark .icon:before {
  color: #00aacc;
}

:scope.theme-dark .action.icon:before,
:scope.theme-dark menu .icon:before {
  color: #fff;
}