/*
  Theme: Organic
*/

:scope {
  background-color: rgba(244,244,244,0.9);
}

:scope h1 {
  color: #858585;
}

:scope .icon:before {
  color: #00aacc;
}

:scope .action.icon:before,
:scope menu .icon:before {
  color: #858585;
}