/*
  Defaults & name spaces definition
*/

bb-scrolling {
  position: absolute;
  right: 0;
  top: 0.3rem;
  bottom: 0.3rem;
  font-family: Sans-serif;
 }

/* Mirror */
bb-scrolling p {
  position: absolute;
  right: 5.5rem;
  top: 50%;
  margin: -5.2rem 0 0 0;
  width: 10.5rem;
  height: 10.5rem;
  opacity: 0;
  font-weight: 200;
  font-size: 6rem;
  line-height: 11.5rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  text-align: center;
  transition: opacity;
}

bb-scrolling p.icon:before {
  color: #fff;
  font-size: 6rem;
  width: 6rem;
  height: 6rem;
  top: 2rem;
  left: 2rem;
}

bb-scrolling ol {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  -moz-box-sizing: border-box;
  opacity: 0.6;
  list-style: none;
  display: flex;
  flex-direction: column;
}

bb-scrolling li {
  font-size: 1rem;
  line-height: 1.4em;
  text-align: right;
  text-transform: uppercase;
  width: 3.5rem;
  flex: 1 1 0;
  color: #333;
  padding-right: 1rem;
}

bb-scrolling li.icon {
  font-size: 0;
  position: relative;
}

bb-scrolling li.icon:before {
  color: #333;
  font-size: 1.2rem;
  left: 2.5rem;
  top: 0.1rem;
}

/*
  Right to left tweaks
*/

html[dir="rtl"] bb-scrolling {
  right: auto;
  left: 0;
}

html[dir="rtl"] bb-scrolling p {
  right: auto;
  left: 4rem;
}

html[dir="rtl"] bb-scrolling li {
  padding: 0 0 0 1rem;
  text-align: left;
}

html[dir="rtl"] bb-scrolling li.icon:before {
  left: 0.8rem;
}

